
4/ConsoleApp7/ConsoleApp7/obj/project.nuget.cache
4/ConsoleApp7/ConsoleApp7/obj/project.assets.json
4/ConsoleApp7/ConsoleApp7/obj/Debug/netcoreapp3.1/ConsoleApp7.pdb
4/ConsoleApp7/ConsoleApp7/obj/Debug/netcoreapp3.1/ConsoleApp7.genruntimeconfig.cache
4/ConsoleApp7/ConsoleApp7/obj/Debug/netcoreapp3.1/ConsoleApp7.GeneratedMSBuildEditorConfig.editorconfig
4/ConsoleApp7/ConsoleApp7/obj/Debug/netcoreapp3.1/ConsoleApp7.dll
4/ConsoleApp7/ConsoleApp7/obj/Debug/netcoreapp3.1/ConsoleApp7.csproj.FileListAbsolute.txt
4/ConsoleApp7/ConsoleApp7/obj/Debug/netcoreapp3.1/ConsoleApp7.csproj.CoreCompileInputs.cache
4/ConsoleApp7/ConsoleApp7/obj/Debug/netcoreapp3.1/ConsoleApp7.csproj.AssemblyReference.cache
4/ConsoleApp7/ConsoleApp7/obj/Debug/netcoreapp3.1/ConsoleApp7.assets.cache
4/ConsoleApp7/ConsoleApp7/obj/Debug/netcoreapp3.1/ConsoleApp7.AssemblyInfoInputs.cache
4/ConsoleApp7/ConsoleApp7/obj/Debug/netcoreapp3.1/ConsoleApp7.AssemblyInfo.cs
4/ConsoleApp7/ConsoleApp7/obj/Debug/netcoreapp3.1/apphost.exe
4/ConsoleApp7/ConsoleApp7/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
4/ConsoleApp7/ConsoleApp7/obj/ConsoleApp7.csproj.nuget.g.targets
4/ConsoleApp7/ConsoleApp7/obj/ConsoleApp7.csproj.nuget.g.props
4/ConsoleApp7/ConsoleApp7/obj/ConsoleApp7.csproj.nuget.dgspec.json
4/ConsoleApp7/ConsoleApp7/bin/Debug/netcoreapp3.1/ConsoleApp7.runtimeconfig.json
4/ConsoleApp7/ConsoleApp7/bin/Debug/netcoreapp3.1/ConsoleApp7.runtimeconfig.dev.json
4/ConsoleApp7/ConsoleApp7/bin/Debug/netcoreapp3.1/ConsoleApp7.pdb
4/ConsoleApp7/ConsoleApp7/bin/Debug/netcoreapp3.1/ConsoleApp7.exe
4/ConsoleApp7/ConsoleApp7/bin/Debug/netcoreapp3.1/ConsoleApp7.dll
4/ConsoleApp7/ConsoleApp7/bin/Debug/netcoreapp3.1/ConsoleApp7.deps.json
4/ConsoleApp7/.vs/ConsoleApp7/v16/.suo
4/ConsoleApp7/.vs/ConsoleApp7/DesignTimeBuild/.dtbcache.v2
